<li class="child_thread">
  <h3><%= child_thread.subject %> | 
   
  <span><%= link_to 'Responder', new_conversation_path(parent_id: child_thread) %> </span>
  </h3>
   
  <% unless child_thread.child_threads.empty? %>
    <ul class="child_thread_list">
      <%= render :partial => 'child_thread', :collection => child_thread.child_threads %>
    </ul>
  <% end %>
</li>