<h1><%= "Lista de respostas da conversa #{@forum_thread.subject}" %></h1>

<ul class="child_threads_list">
  <%= render :partial => 'forum_threads/child_thread', :collection => @forum_thread.child_threads %>
</ul>

<%= render 'conversations/form_reply' %>

<%= will_paginate @child_threads %>